<script>

    function closeAll(){
        var div_all = document.getElementById("items-all");
        var div_init = document.getElementById("items-init");
        var div_add = document.getElementById("items-add");
        var div_dec = document.getElementById("items-dec");
        var div_end = document.getElementById("items-end");

        var div_b_all = document.getElementById("b-all");
        var div_b_init = document.getElementById("b-init");
        var div_b_add = document.getElementById("b-add");
        var div_b_dec = document.getElementById("b-dec");
        var div_b_end = document.getElementById("b-end");

        div_all.style.display = "none";
        div_init.style.display = "none";
        div_add.style.display = "none";
        div_dec.style.display = "none";
        div_end.style.display = "none";

        div_b_all.className = ""
        div_b_init.className = ""
        div_b_add.className = ""
        div_b_dec.className = ""
        div_b_end.className = ""
    }

    function showItemsAll(){
        var div_all = document.getElementById("items-all");
        var div_b_all = document.getElementById("b-all");

        closeAll();

        div_all.style.display = "block";
        div_b_all.className = "active"
    }

    function showItemsInit(){
        var div_init = document.getElementById("items-init");
        var div_b_init = document.getElementById("b-init");

        closeAll();

        div_init.style.display = "block";
        div_b_init.className = "active"
    }

    function showItemsAdd(){
        var div_add = document.getElementById("items-add");
        var div_b_add = document.getElementById("b-add");
        
        closeAll();

        div_add.style.display = "block";
        div_b_add.className = "active"
    }

    function showItemsDec(){
        var div_dec = document.getElementById("items-dec");
        var div_b_dec = document.getElementById("b-dec");

        closeAll();

        div_dec.style.display = "block";
        div_b_dec.className = "active"
    }

    function showItemsEnd(){
        var div_end = document.getElementById("items-end");
        var div_b_end = document.getElementById("b-end");

        closeAll();
        
        div_end.style.display = "block";
        div_b_end.className = "active"
    }
        
    window.onload = function() {
        showItemsAll()        
    }
</script>