{% extends 'root/root.html' %}

{% block content %}

{% load widget_tweaks %}

{% include 'staffapp/elements/el_navbar.html'%}

<div class="container">
    <div class="row upbox" id="admin-places-filter-block">
        <div class="col">
            <h1><a href="{% url 'adminapp' %}" class="back-btn"><i class="fas fa-chevron-left downbox"></i></a></i></h1>
            <hr>
            <form method="POST">
                {% csrf_token %}

            </form>
        </div>
    </div>
</div>

{% include 'staffapp/elements/el_bottom.html'%}
{% endblock %}

{% block title%}
HookahPride - AdminPanel | Изменить позицию 
{% endblock %}
