{% extends 'root/root.html' %}

{% block content %}

{% load widget_tweaks %}

{% include 'staffapp/elements/el_navbar.html'%}
{% include 'staffapp/elements/el_navbar_root.html'%}

<div class="container">
    <div class="row upbox" id="admin-place-info-block">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h1><a href="/adminapp/place/{{place.id}}/" class="back-btn"><i class="fas fa-chevron-left downbox"></i></a>  {{place.title}} </h1>
                </div>
                <div class="col">
                    
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="litlle-form">
                        <form method="POST">
                            {% csrf_token %}
                            
                            <input type="hidden" name="ActionType" value="Edit">

                            <p>Название</p>
                            {% render_field placeForm.title %} 

                            <p>Адрес</p>
                            {% render_field placeForm.adres %} 

                            <p>Превью</p>
                            {% render_field placeForm.preview %}

                            <p>Юридическое имя</p>
                            {% render_field placeForm.govTitle %} 

                            <p>УНП</p>
                            {% render_field placeForm.unp %}

                            <p>Юридический адрес</p>
                            {% render_field placeForm.govAdress %}

                            <p>Банковский код</p>
                            {% render_field placeForm.bankcode %}

                            <button type="submit">
                                Изменить
                            </button>
                        </form>

                        <!-- сделать таблицу -->
                        {% for el in iban %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="ActionType" value="{{el.id}}">
                            <p>{{el.title}}</p>
                            <p>{{el.iban}}</p>
                            <button>Удалить</button>
                        </form>
                        
                        {% endfor %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="ActionType" value="add">
                            {% render_field ibanForm.title %}
                            {% render_field ibanForm.iban %}
                            <button>Добавить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'staffapp/elements/el_bottom.html'%}
{% endblock %}

{% block title%}
HookahPride - AdminPanel | Изменить {{selectPlace}}
{% endblock %}
