{% extends 'root/root.html' %}

{% block content %}

{% load widget_tweaks %}

{% include 'staffapp/elements/el_navbar.html'%}
{% include 'staffapp/elements/el_navbar_root.html'%}

<div class="container">
    <div class="row upbox" id="admin-place-info-block">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h1><a href="/adminapp/place/{{place.id}}/" class="back-btn"><i class="fas fa-chevron-left downbox"></i></a>  {{place.title}} </h1>
                </div>
                <div class="col">
                    
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="litlle-form">
                        <form method="POST">
                            {% csrf_token %}
                            
                            <p>Название</p>
                            {% render_field form.title %} 

                            <p>УНП</p>
                            {% render_field form.unp %}

                            <p>Адресс</p>
                            {% render_field form.adress %}

                            <p>IBAN BYN</p>
                            {% render_field form.ibanbyn %}

                            <p>IBAN USD</p>
                            {% render_field form.ibanusd %}

                            <p>Банковский код</p>
                            {% render_field form.bankcode %}

                            <button type="submit">
                                Изменить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'staffapp/elements/el_bottom.html'%}
{% endblock %}

{% block title%}
HookahPride - AdminPanel | Изменить {{selectPlace}}
{% endblock %}
