{% extends 'root/root.html' %}

{% block content %}

{% include 'staffapp/elements/el_navbar.html'%}
{% include 'staffapp/elements/el_navbar_root.html'%}

<div class="container">
    <div class="row upbox" id="admin-place-info-block">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h1>{{selectPlace}} </h1>
                </div>
                <div class="col">
                    <h3>
                        <a href="/admin/data/place/{{selectPlace.id}}/delete/" class="downbox float-right"><i class="fas fa-trash-alt"></i></a>
                        <a href="/admin/data/place/{{selectPlace.id}}/change/" class="downbox float-right"><i class="far fa-edit"></i></a>
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <table>
                        <tr>
                            <th colspan="2"><p>Реквизиты</p></th>
                        </tr>
                        <tr>
                            <td>Название</td>
                            <td>{{selectPlace.recvisites.title}}</td>
                        </tr>
                        <tr>
                            <td>УВП</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Адресс</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ibanBYN</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ibanUSD</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>bankcode</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row upbox" id="place-sessions-list-block">
        <div class="col">
            <div class="row block-head">
                <div class="col">
                    <h4>
                        Смены :
                    </h4>
                </div>
                <div class="col">
                    <button onclick="showBlock()" class="downbox float-right show-content-btn" ><i class="fas fa-caret-down"></i></button>
                </div>
            </div>

            <div class="row">
                <div class="col" id="place-sessions-list">
                    <div class="superdownbox">
                        {% if selectPlaceSessions|length != 0 %}
                            <table>
                                <tr>
                                    <th><p>Персонал</p></th>
                                    <th><p>Дата</p></th>
                                    <th><p>Статус</p></th>
                                    <th></th>
                                </tr>
                                {% for item in selectPlaceSessions %}
                                    <tr>
                                        <td><a href="/adminapp/user/{{item.staff.id}}/">{{item.staff}}</a></td>
                                        <td>{{item.startTime}}</td>
                                        <td>
                                            {% if item.isOpen %}
                                                Открыта
                                            {% else %}
                                                Закрыта
                                            {% endif %}
                                        </td>
                                        <td><a href="/staffapp/session/{{item.id}}/" class="downbox"><i class="fas fa-eye"></i></a></td>
                                    </tr>
                                {% endfor %}
                                
                            </table>                        
                        {% else %}
                            <p>Упс... тут ничего нет</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'staffapp/elements/el_bottom.html'%}
{% endblock %}

{% block title%}
HookahPride - AdminPanel | {{selectPlace}}
{% endblock %}
