{% extends 'root/root.html' %}

{% block content %}

{% load widget_tweaks %}

{% include 'staffapp/elements/el_navbar.html'%}
{% include 'staffapp/elements/el_navbar_root.html'%}

<div class="container">
    <div class="row upbox" id="admin-place-info-block">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h1><a href="/adminapp/places/" class="back-btn"><i class="fas fa-chevron-left downbox"></i></a>  Добавить заведение</h1>
                </div>
                <div class="col">
                    
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="litlle-form">
                        <form method="POST">
                            {% csrf_token %}
                            <p>Название</p>
                            {% render_field placeForm.title %} 

                            <p>Адрес</p>
                            {% render_field placeForm.adres %} 

                            <p>Превью</p>
                            {% render_field placeForm.preview %} 

                            <p>Процент заведению</p>
                            {% render_field placeForm.percentForPlace %} 

                            <p>Процент работнику</p>
                            {% render_field placeForm.percentForWorker %}

                            <p>Юридическое имя</p>
                            {% render_field placeForm.govTitle %} 

                            <p>УНП</p>
                            {% render_field placeForm.unp %}

                            <p>Юридический адрес</p>
                            {% render_field placeForm.govAdress %}

                            <p>Банковский код</p>
                            {% render_field placeForm.bankcode %}

                            <p>Название IBAN</p>
                            {% render_field ibanForm.title %}
                            
                            <p>Номер IBAN</p>
                            {% render_field ibanForm.iban %}

                            <button type="submit">
                                Добавить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'staffapp/elements/el_bottom.html'%}
{% endblock %}

{% block title%}
HookahPride - AdminPanel | Добавить заведение 
{% endblock %}