{% extends 'root/root.html' %}

{% block content %}

{% include 'staffapp/elements/el_navbar.html'%}

<div class="container">
    <div class="row upbox" id="admin-users-filter-block">
        <div class="col index-butt">
            <h1 id="main-text-el">HookahPride - AdminPanel</h1>
            <hr>
            <div class="row">
                <div class="col">
                    <form action="{% url 'adminapp-sessions' %}">
                        <button>
                            <h3><i class="fas fa-clipboard-list"></i></h3>
                            <h4>Смены</h4>
                        </button>
                    </form>
                </div>
                <div class="col">
                    <form action="{% url 'adminapp-places' %}">
                        <button>
                            <h3><i class="fas fa-house-user"></i></h3>
                            <h4>Заведения</h4>
                        </button>
                    </form>
                </div>
                <div class="col">
                    <form action="{% url 'adminapp-users' %}">
                        <button>
                            <h3><i class="fas fa-users"></i></h3>
                            <h4>Сотрудники</h4>
                        </button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form action="{% url 'adminapp-items' %}">
                        <button>
                            <h3><i class="fas fa-shopping-cart"></i></h3>
                            <h4>Инвентарь</h4>
                        </button>
                    </form>
                </div>
                <div class="col">
                    <form action="{% url 'adminapp-hookahs' %}">
                        <button>
                            <h3><i class="fas fa-cloud"></i></h3>
                            <h4>Кальяны</h4>
                        </button>
                    </form>
                </div>
                <div class="col">
                    <form action="">
                        <button>
                            <h3><i class="fas fa-book"></i></h3>
                            <h4>Отчеты</h4>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'staffapp/elements/el_bottom.html'%}
{% endblock %}

{% block title%}
HookahPride - AdminPanel
{% endblock %}
