{% extends 'root/root.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div id="index-block">
                <div>
                    <p class="logoone">Pride Hookah</p>
                </div>
                <div  id="index-block-bttn">
                    <a  class="downbox" href="{% url 'staffapp' %}">Войти в систему</a>
                </div>  
            </div>
               
        </div>
    </div>
</div>

{% endblock %}

{% block title%}
HookahPride
{% endblock %}