{% extends 'root/root.html' %}

{% block content %}

{% load widget_tweaks %}

{% include 'staffapp/elements/el_navbar.html'%}
{% if session.isOpen %}
    <div class="container">
        <div class="row ">
            <div class="col upbox font-main">
                <div class="row">
                    <div class="col">
                        <h1><a href="/staffapp/session/{{session.id}}/" class="back-btn"><i class="fas fa-chevron-left downbox"></i></a></i> Добавить доп. рассход</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="litlle-form" >
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}  
                                
                                {% render_field form.image %}<br>
                                {% render_field form.cost %}<br>
                                {% render_field form.comment %}<br>
                                
                                <button type="submit">
                                    Добавить
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col upbox font-main">
                <div class="superdownbox">
                    <table>
                        <tr>
                            <th>
                                <p>Фото</p>
                            </th>
                            <th>
                                <p>Комментарий</p>
                            </th>
                            <th>
                                <p>Сумма</p>
                            </th>
                        </tr>
                        {% if addedcost|length == 0 %}
                            <tr>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                            </tr>
                        {% else %}
                            {% for item in addedcost %}
                                <tr>
                                    <td><a href="{{item.image.url}}">{{item.image}}</a></td>
                                    <td>{{item.comment}}</td>
                                    <td>{{item.cost}}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="2">Итого :</td>
                                <td></td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="container">
        <div class="row">
            <div class="col upbox close-error font-main">
                <i class="fas fa-exclamation-triangle error-logo"></i>
                <p>Эта смена уже закрыта, ее редактирование невозможно</p>
                <a href="/staffapp/session/{{session.id}}/" class="downbox">Назад</a>
            </div>
        </div>
    </div>
{% endif %}
{% include 'staffapp/elements/el_bottom.html'%}
{% endblock %}

{% block title%}
HookahPride | Добавить доп. рассход
{% endblock %}