{% extends 'root/root.html' %}

{% block content %}

{% load widget_tweaks %}

{% include 'staffapp/elements/el_navbar.html'%}
    {% if user.is_staff or session.isOpen %}
    <div class="container">
        <div class="row">
            <div class="col upbox font-main" id="chng-items-list-block">
                <h1><a href="/staffapp/session/{{session.id}}/" class="back-btn"><i class="fas fa-chevron-left downbox"></i></a></i> Добавить (увоз/привоз)</h1>
                <div class="el-item-input-form">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="">
                            <input type="radio" name="formType" value="add" checked = "checked">
                            Привоз/
                            <input type="radio" name="formType" value="dec">
                            Увоз
                        </div>

                        <div class="">
                            {% render_field form.item %} 
                            {% render_field form.count %} 
                        
                            <button type="submit" class="downbox">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col upbox font-main" id="chng-add-items-list-block">
                <div class="superdownbox">
                    <table border="1">
                        <tr>
                            <th colspan="3"><p>Привоз</p></th>
                        </tr>
                        <tr>
                            <th><p>Позиция</p></th>
                            <th><p>Количество</p></th>
                            <th></th>
                        </tr>
                        {% for el in addItems %}
                        <tr>
                            <td>{{el.item}}</td>
                            <td>{{el.count}}</td>
                            <td>
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="ItemID" value="{{el.id}}">
                                    <input type="hidden" name="ActionType" value="dec">
                                    <button type="submit">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col upbox font-main" id="chng-dec-items-list-block">
                <div class="superdownbox">
                    <table border="1">
                        <tr>
                            <th colspan="3"><p>Увоз</p></th>
                        </tr>
                        <tr>
                            <th><p>Позиция</p></th>
                            <th><p>Количество</p></th>
                            <th></th>
                        </tr>
                        {% for el in decItems %}
                        <tr>
                            <td>{{el.item}}</td>
                            <td>{{el.count}}</td>
                            <td>
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="ItemID" value="{{el.id}}">
                                    <input type="hidden" name="ActionType" value="dec">
                                    <button type="submit">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        {% include 'staffapp/elements/el_acsees_error.html' %}
    {% endif %}
{% include 'staffapp/elements/el_bottom.html'%}
{% endblock %}

{% block title%}
HookahPride | Добавить инвентарь
{% endblock %}