{% extends 'root/root.html' %}

{% block content %}

{% include 'staffapp/elements/el_navbar.html'%}

<div class="container">
    <div class="row">
        {% if userOpenSessions|length != 0 %}
        <div class="col add-new-session-block">
            <div>
                <h3>Нет открытых смен</h3>
            </div>
            <div class="downbox">
                <p id="session-new-btn"><i class="fas fa-plus"></i><a href="{% url 'session-add' %}">  Начать новую смену</a></p>
            </div>     
        </div>
        {% endif %}
    </div>

    <div class="row upbox">       
        <div class="col" id="workerapp-mainblock">
            {% include 'staffapp/elements/el_filter.html' %}
            <div class="superdownbox" id="main-sessions-array">
                {% for el in userSessions %}
                    {% include 'staffapp/elements/el_session_min.html'%}
                {% endfor %}  
            </div>
        </div>         
    </div>
</div>

{% include 'staffapp/elements/el_bottom.html'%}

{% if userOpenSessions|length == 0 %}
    {% include 'staffapp/elements/el_mobile_session_add_button.html'%}
{% endif %}

{% endblock %}

{% block title%}
HookahPride | Смены
{% endblock %}