/*
============================================================================================================
------------------------------------------------------------------------------------------------------------
============================================================================================================

                ##     ##    ###    #### ##    ##       ######   ######   ######  
                ###   ###   ## ##    ##  ###   ##      ##    ## ##    ## ##    ## 
                #### ####  ##   ##   ##  ####  ##      ##       ##       ##       
                ## ### ## ##     ##  ##  ## ## ##      ##        ######   ######  
                ##     ## #########  ##  ##  ####      ##             ##       ## 
                ##     ## ##     ##  ##  ##   ###  ### ##    ## ##    ## ##    ## 
                ##     ## ##     ## #### ##    ##  ###  ######   ######   ######  
*/
:root {
    color-scheme: dark;

    --c-black: black;
    --c-primary: orangered;
    --c-upbox-back: #2b2b2b;
}

/*
============================================================================================================
------------------------------------------------------------------------------------------------------------
============================================================================================================
                                                  _               
                                                 | |              
  ___ ___  _ __ ___  _ __ ___   ___  _ __     ___| |_ __ ___  ___ 
 / __/ _ \| '_ ` _ \| '_ ` _ \ / _ \| '_ \   / _ \ | '_ ` _ \/ __|
| (_| (_) | | | | | | | | | | | (_) | | | | |  __/ | | | | | \__ \
 \___\___/|_| |_| |_|_| |_| |_|\___/|_| |_|  \___|_|_| |_| |_|___/
                                                                  
                                                                  
=======================================(COMMON SETUPS)=========================================== */
*::selection {
    color: black;
    background: orangered;
}

@font-face{
    font-family: Apex;
    src: url('../font/ProximaNova-Light.ttf') format("truetype");
}

p{
    margin: 0px;
    color:gainsboro;
    font-family: Apex;
}

a{
    color: orangered;
}

a:hover{
    color: rgb(255, 97, 40);
}

body{
    background-color: #2b2b2b;
    color: gainsboro;
    font-family: Apex;
}

i.sub{
    color:rgb(75, 75, 75);
}


/* =======================================(FONTS)=========================================== */
.font-main{
    color: gainsboro;
    font-family: Apex;
}

.text-sub{
    color: rgb(82, 82, 82);
}

.text-status-open{
    color: greenyellow;
}

.text-status-close{
    color: rgb(255, 47, 47);
}

a.link-common{
    color: gainsboro;
}

a.link-active{
    color: orangered;
}

a .link-active:hover{
    color: rgb(255, 97, 40);
}

/* =======================================(BOXS)=========================================== */
.upbox{
    background-color: var(--c-upbox-back);
    color: gainsboro;

    border-radius: 12px;
    border: 1px solid rgb(51, 51, 51);
    box-shadow: -4px -4px 14px 4px rgba(75, 75, 75, 0.25), 6px 6px 20px 2px rgba(0, 0, 0, 0.3);

    padding-top: 15px;
    padding-bottom: 15px;

    margin-bottom: 23px;
}

.downbox{
    background-color: #2b2b2b;
    color: gainsboro;

    border-radius: 5px;
    border: 1px solid rgb(51, 51, 51);

    box-shadow: 
        inset 4px 4px 4px 1px rgba(75, 75, 75, 0.25), 
        inset -6px -6px 6px 1px rgba(0, 0, 0, 0.2),
        2px 2px 2px 0px rgba(75, 75, 75, 0.25), 
        -2px -2px 2px 0px rgba(0, 0, 0, 0.3);

    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;

    margin-bottom: 8px;
    margin-top: 8px;
}

.superdownbox{
    background-color: #1a1a1a;
    color: gainsboro;

    border-radius: 5px;

    box-shadow: 
        inset 4px 4px 4px 1px rgba(0, 0, 0, 0.25), 
        inset -6px -6px 6px 1px rgba(0, 0, 0, 0.2),
        2px 2px 2px 0px rgba(75, 75, 75, 0.25), 
        -2px -2px 2px 0px rgba(0, 0, 0, 0.3);

    padding: 6px;

    margin-bottom: 15px;
}


.hoverbox{
    background-color: #2b2b2b;
    color: gainsboro;

    border-radius: 3px;
    border: 1px solid rgb(51, 51, 51);

    box-shadow: 
        0px 4px 4px 2px rgba(0, 0, 0, 0.25);

    padding: 7px;

    margin: 5px;
    margin-bottom: 15px;
}

/* =======================================(TABLESS)=========================================== */
th, td{
    border: 1px solid rgb(61, 61, 61);
}

table{
    width: 100%;
    border: 2px solid #1a1a1a;
}

td p{
    margin-left: 15px;
    margin-right: 15px;
}

th p{
    text-align: center;
}

td{
    padding-left: 10px;
}

/* =======================================( ERROR BOX )=========================================== */
.error-box{
    padding: 20px;
    margin-top: 25px;
    text-align: center;
}

.error-box .big{
    font-size: 172px;
}

.close-error{
    padding: 20px;
    text-align: center;
}

.close-error .error-logo{
    font-size: 72px;
    margin-bottom: 25px;
}

.close-error p{
    margin-bottom: 30px;
}

.close-error .downbox{
    margin-top: 40px;
    padding: 10px;
    color: gainsboro;
}

/* 
============================================================================================================
------------------------------------------------------------------------------------------------------------
============================================================================================================

 _                   _       
(_)                 | |      
 _ _ __  _ __  _   _| |_ ___ 
| | '_ \| '_ \| | | | __/ __|
| | | | | |_) | |_| | |_\__ \
|_|_| |_| .__/ \__,_|\__|___/
        | |                  
        |_|                  

=======================================( ??? )===========================================*/

input{
    background-color: #1a1a1a;
    color: gainsboro;

    border-radius: 5px;

    outline: none;
    padding-left: 3px;
    padding-right: 3px;

}

select{
    background-color: #1a1a1a;
    color: gainsboro;

    border-radius: 5px;

    border: none;

    min-height: 25px;
}

button{
    background-color: var(--c-upbox-back);

    border-radius: 5px;
    border: 1px solid rgb(51, 51, 51);

    box-shadow: 
        inset 4px 4px 4px 1px rgba(75, 75, 75, 0.25), 
        inset -6px -6px 6px 1px rgba(0, 0, 0, 0.2),
        2px 2px 2px 0px rgba(75, 75, 75, 0.25), 
        -2px -2px 2px 0px rgba(0, 0, 0, 0.3);

    margin: 3px;
}

button:hover{
    background-color: rgba(75, 75, 75, 0.25);
}

button.active{
    background-color: var(--c-primary);
    color: var(--c-black);
    font-weight: bold;
}

button.show-content-btn{
    min-width: 25px;
}

.list-controls button{
    min-width: 150px;
}

/* 
============================================================================================================
------------------------------------------------------------------------------------------------------------
============================================================================================================
                _                         _               
               | |                       | |              
  ___ _   _ ___| |_ ___  _ __ ___     ___| |_ __ ___  ___ 
 / __| | | / __| __/ _ \| '_ ` _ \   / _ \ | '_ ` _ \/ __|
| (__| |_| \__ \ || (_) | | | | | | |  __/ | | | | | \__ \
 \___|\__,_|___/\__\___/|_| |_| |_|  \___|_|_| |_| |_|___/
                                                          

=======================================( ??? )=========================================== */

.footer {
    color: rgb(99, 99, 99);
    font-family: Apex;
    font-size: 12px;

    margin-bottom: 35px;

    text-align: center;
}


@keyframes example {
    0%   {text-shadow: 0px 0px 2px rgb(227, 255, 188);}
    50%  {text-shadow: 0px 0px 8px rgb(154, 255, 12);}
    100% {text-shadow: 0px 0px 2px rgb(227, 255, 188);}
  }

i#min-session-indicator{
    color: greenyellow;
    text-shadow: 0px 0px 2px rgb(227, 255, 188);
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    margin-right: 10px;
}


/* 
============================================================================================================
------------------------------------------------------------------------------------------------------------
============================================================================================================
 _     _            _        
| |   | |          | |       
| |__ | | ___   ___| | _____ 
| '_ \| |/ _ \ / __| |/ / __|
| |_) | | (_) | (__|   <\__ \
|_.__/|_|\___/ \___|_|\_\___/
                             

=======================================( NAVBAR )=========================================== */
#navbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;

    margin-top: 10px;
}

.navflex#start{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.navflex#end{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-item{
    margin-left: 5px;
    margin-right: 5px;
}

#avatar{
    font-size: 20px;
}

.navbar-end-bttn{
    text-align: center;
}

/* =======================================( MIN SESSIONS ITEM )===========================================  */
.min-sessions-item{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px;
    margin-bottom: 15px;

}

/* =======================================( MIN SESSIONS ITEM )===========================================  */
.list-controls{
    margin-bottom: 15px;
}

/* =======================================( MIN SESSIONS ITEM )===========================================  */
#main-sessions-array{
    min-height: 400px;
}

/* =======================================( INDEX BLOCK )===========================================  */
#index-block{
    text-align: center;

    margin-top: 200px;
}

#index-block .logoone{
    font-size: 82px;
}

#index-block a{
    padding: 10px;
}

/* =======================================( INDEX BLOCK )===========================================  */
#session-info-table table{
    border: 2px solid var(--c-upbox-back);
}

#admin-user-info-block table{
    border: 2px solid var(--c-upbox-back);
}

#admin-place-info-block table{
    border: 2px solid var(--c-upbox-back);
}

/* =======================================( INDEX BLOCK )===========================================  */
#login-block{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;
}

#login-block input{
    width: 100%;
}

#login-block button{
    width: 100%;
    height: 40px;
}

/* =======================================( INDEX BLOCK )===========================================  */
#autherror-block{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;

    text-align: center;
}

#autherror-block p{
    margin-bottom: 15px;
}

#session-control-block button{
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(61, 61, 61);
}

#session-control-block button:hover{
    background-color: rgb(53, 53, 53);
    box-shadow: 
        0px 1px 1px 2px rgba(0, 0, 0, 0.25);
}

/* =======================================( INDEX BLOCK )===========================================  */
.filter-box{
    margin-bottom: 5px;
    float: right;
}

.add-new-session-block{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 20px;
}

/* =======================================( INDEX BLOCK )===========================================  */
.add-new-session-block .downbox{
    margin-left: 15px;
}

.add-new-session-block a{
    color: gainsboro;
}

/* =======================================( INDEX BLOCK )===========================================  */
#user-item-min{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

/* =======================================( INDEX BLOCK )===========================================  */
#place-item-min{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

/* 
============================================================================================================
------------------------------------------------------------------------------------------------------------
============================================================================================================
     _           _           
    | |         | |          
 ___| |__   __ _| |__   __ _ 
|_  / '_ \ / _` | '_ \ / _` |
 / /| | | | (_| | |_) | (_| |
/___|_| |_|\__,_|_.__/ \__,_|
                             
                             
=======================================( NAVBAR )=========================================== */