{% load widget_tweaks %}

{% if newUser %}
<p>Login : {{newUser.login}}</p>
<p>Password : {{newUser.password}}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {% render_field form.name  size="5" %} <br>
    {% render_field form.famName  size="5" %} <br>
    {% render_field form.fathName  size="5" %} <br>
    {% render_field form.vk  size="5" %} <br>
    {% render_field form.telegramNick  size="5" %} <br>
    {% render_field form.avatar  size="5" %} <br>
    <button type="submit">add</button>
</form>